<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048846186129-deglk0hpvv3vhb5uq2hmqctq4rkpoaud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048846186129-deglk0hpvv3vhb5uq2hmqctq4rkpoaud</string>
	<key>API_KEY</key>
	<string>AIzaSyBjv-1fvD6B6STAAmSCC0l0wgVJogE6wIA</string>
	<key>GCM_SENDER_ID</key>
	<string>1048846186129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zaratech.rentTech</string>
	<key>PROJECT_ID</key>
	<string>senior-project-renttech</string>
	<key>STORAGE_BUCKET</key>
	<string>senior-project-renttech.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048846186129:ios:747409e640c94970a93130</string>
</dict>
</plist>